.teams-dropdown {
	display: absolute;
	width: 10rem;
	height: 100%;
	margin-top: 400px;
	text-align: center;
	list-style: none;
	text-overflow: start;
}
.teams-dropdown li:hover {
	cursor: pointer;
}
.teams-dropdown.clicked {
	display: none;
}
.li-dropdown {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: whitesmoke;
	padding: 16px;
	cursor: pointer;
}
.dropdown-item {
    width: 10rem;
}
