.teams-dropdown {
	position: absolute;
	width: 23vw;
	height: 100%;
	margin-top: 18.5vh;
	text-align: center;
	list-style: none;
	text-overflow: start;
	right: 0;
	/* transition: width 3s; */
	border: lime dotted thick;
}
/* .teams-dropdown li:hover {
	cursor: pointer;
} */
/* .teams-dropdown.clicked {
	display: none;
} */
.li-dropdown {
	width: 100%;
	/* height: 100%; */
	color: whitesmoke;
	padding: 5px;
	background-color: #d1e8e2;
	cursor: pointer;
	border: red dotted thick;
}

