@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

.navbar {
	display: flex;
	background: #ffcc9a;
	height: 10vh;
	align-items: center;
	justify-content: center;
	box-shadow: #D9B08C 2px 2px 2px 2px;

}
.navbar-logo {
	display: flex;
	text-decoration: none;
	font-size: 2rem;
	color: #116466;
	align-items: center;
	justify-content: space-between;
	width: 18rem;
	margin-bottom: 20px;
	font-family: calligraffitti;
	font-weight:bolder;
}
.navbar-logo:hover {
	color: #116466
}
.nav-items {
	display: flex;
	list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 2rem;	


} 
.nav-item {
    display: flex;
    align-items: center;
	height: 10vh;
	

}

.nav-item a {
	display: absolute;
    text-decoration: none;
    color: #116466;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
	box-shadow: #D9B08C 2px 2px 2px 2px;
}
.nav-item a:hover {
    background: #D9B08C;
}
h1 {
	color: #116466;
	position: absolute;
	font-family: calligraffitti;
	font-weight:bolder;
}
