/* .ball:before {
	content: '';
	position: absolute;
	top: 1%;
	left: 5%;
	width: 90%;
	height: 90%;
	border-radius: 50%;
	background: radial-gradient(
		circle at 50% 0px,
		#d9b08c,
		rgba(255, 255, 255, 0) 58%
	);

	z-index: 2;
}
.ball:after {
	content: '';
	position: absolute;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: radial-gradient(
		circle at 50% 30%,
		rgba(245, 237, 48, 0),
		rgba(200, 190, 20, 0.2) 50%,
		#ffcc9a 100%
	);
}
.ball .shadow {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 0.4),
		rgba(0, 0, 0, 0.1) 40%,
		rgba(0, 0, 0, 0) 50%
	);
	-webkit-transform: rotateX(90deg) translateZ(-160px);
	transform: rotateX(90deg) translateZ(-160px);
	z-index: 1;
} */
.ball img{
	width: 150px;
	height: 150px;
	border: black solid thick;
	border-radius: 50%;
	box-shadow: black 5px 5px 5px 5px;
}
.stage {
	display: flex;
	flex-direction: column;
	/* border: purple dotted thick; */
	justify-content: center;
	align-items: center;
	/* margin: 20px; */
	/* -webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%; */
}
.fav-data {
	color: whitesmoke;
	text-align: center;
	width: max-content;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
	/* border: red dotted thick; */
	justify-self: center;
}

body {
	background-color: #282828;
}
.teamball {
	display: flex;
	align-self: center;
	height: 400px;
	width: 400px;
	opacity: 0.75;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	/* border: thick dotted red; */
	top: 40vh;
	left: 80vh;
	background-image: url('./pics/basketballCourt.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 10px;
}
.delete-button {
	color: red;
	align-self: flex-end;
	justify-self: flex-end;
	height: 2vh;
}
